<section class="pTop120"></section>
	<section id="page-title" class="container">
		<div class="row">	
			<div class="span10">
				<h2>Buzz</h2>
			</div>
			<div class="span2 hidden-phone">
				<p><span class="number">Loading..</span>tweets</p>

			</div>
		</div>
		<div class="row hidden-phone">
			<hr class="span12 clear-bottom">
		</div>
	</section>
	<!-- End Title -->
					
	<!-- Start Blog Post -->			
<span id="render">
	<div id="spinner"></div>
		<span ng-controller="ListController">
		    <!-- These images have dynamic SRC attributes. -->
		    <span ng-repeat="image in images">
		    <article class="blog-post container">
		    	<div class="row">
		    		<div class="span12">
		    			<h4 class="tweets"></h4><!--span>Loaded: {{ image.complete }}</span-->
		    		</div>
		    	</div></div>
		    <div class="row">
		    	<div class="span12">
		    		<div class="preview-img">
							<img class="desaturate" ng-src="{{ image.source }}" thm-load="imageLoaded( image )" />
						</div>
					</div>
				</div>
				<div class="row">
					<hr class="span12 dotted">
				</div>
			</article>
			</span>
		</span>
</span>
	<!-- End Blog Post -->
</div>

