	<section class="pTop120"></section>
	<!-- End Header --><!-- Start Hero Carousel -->
	<section class="hero">
		<div class="heroImg" ng-controller="mainController">
			<article home-load ng-repeat="image in images">
				<!-- <img class="" src="img/hero-cat.jpeg" alt="superman" /> -->
				<img class="desaturate" ng-src="{{ image.source }}" thm-load="imageLoaded( image )" />
				<div class="contents">
					<h4 class="color-text"></h4>
					<p></p>
				</div>
			</article>
		</div>
	</section>
	<!-- End Hero Carousel -->
		<!-- Start Intro Block -->
	<section class="intro container">
		<div class="row">
			<div class="span12">
				<p>Application and website development, with PHP 5, AngularJS MVC/MVVM architecture, JavaScript and HTML5 APIs, CSS3 and responsive media queries. <br /> <a href="#portfolio">portfolio</a> | <a href="#resume">resume</a></p>
			</div>
		</div>
	</section>
	<!-- End Intro Block -->	
<!-- Start Services Icons -->
	<section id="services" class="container">
		<div class="row">
			<div class="span6">
				<div class="service-icon icon1"></div>
				<div class="service-desc">
					<h5>Templating</h5>
					<p>Hand me a layout concept designed in Photoshop, Illustrator, MSPaint or napkin doodle, and I will bring it to life on the web by coding it into a set of template files and preparing it for content management if desired. Every pixel(doodle) counts!</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon4"></div>
				<div class="service-desc">
					<h5>Custom solutions</h5>
					<p>I create modern and functional solutions that provoke thought. Carefully handcrafted to your specifications. "Almost" anything is possible on today's web! The perfect solution to your project awaits. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="service-icon icon3"></div>
				<div class="service-desc">
					<h5>Content management</h5>
					<p>Content management systems (CMS's) are everywhere, I am familiar with and have used several open source, and proprietary CMS systems including Typo3, WordPress, ProcessWire, Pyro CMS, FirstSpirit, Drupal and more.</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon2"></div>
				<div class="service-desc">
					<h5>Always learning</h5>
					<p>Web development is undergoing rapid change and is constantly growing as new technology, software and standards advance. I am a constant student learning and absorbing all new developments affecting the tools, browsers and code in the online world. </p>
				</div>
			</div>
		</div>
	</section>
	<!--p>{{ message }}</p-->
