<section class="pTop120"></section>
<!-- End Header -->
<!-- Start Title -->
<section id="page-title" class="container" work-load>
	<div class="row">
		<div class="span10">
			<h2>Portfolio</h2>
			<div class="dropdown needsclick">
				<div class="dropmenu needsclick">
					<p class="menu-title needsclick">Show</p>
					<p class="selected needsclick">All Projects</p> <i class="icon-chevron-down"></i>
				</div>
				<div class="dropmenu-active needsclick">
					<ul class="option-set needsclick" data-option-key="filter">
						<li>
							<a class="selected drop-selected needsclick" href="#filter" data-option-value="*">All Projects</a>
						</li>
						<!-- <li class="active">
						<a href="javascript:void(0)" class="all">All</a>
					</li>
					-->
					<li>
						<a href="#filter" class="needsclick" data-option-value=".coding">CODING</a>
					</li>
					<li>
						<a href="#filter" class="needsclick" data-option-value=".experimental">EXPERIMENTAL</a>
					</li>
					<li>
						<a href="#filter" class="needsclick" data-option-value=".flash">FLASH</a>
					</li>
					<li>
						<a href="#filter" class="needsclick" data-option-value=".graphics">GRAPHICS</a>
					</li>
					<li>
						<a href="#filter" class="needsclick" data-option-value=".video">VIDEO</a>
					</li>
					<li>
						<a href="#filter" class="needsclick" data-option-value=".wordpress">WORDPRESS</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span2 hidden-phone">
		<p>
			<span class="number">22</span>
			projects
		</p>
	</div>
</div>
<div class="row">
	<hr class="span12 clear-bottom"></div>
</section>
<!-- End Title -->

<!-- Start Projects -->
<section id="projects" class="container">
<div id="posts" class="isotope row">

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/pa/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/packangels-thumb.jpg" class="" alt="pa thumb" />

				<p class="project-name">Packangels</p>
				<p class="project-desc">website and application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Packangels.com</p>
				<p class="project-desc">PHP, JS, CSS, HTML</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->	

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/ancla/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/ancla-thumb.jpg" class="" alt="ancla thumb" />

				<p class="project-name">Ancla Logistic</p>
				<p class="project-desc">website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Ancla Logistic</p>
				<p class="project-desc">PHP, JS, CSS, HTML, Wordpress</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->	

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/supporterei/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/supporterei.png" class="" alt="supporterei thumb" />

				<p class="project-name">Supporterei</p>
				<p class="project-desc">web application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Supporterei</p>
				<p class="project-desc">PHP, JS, CSS, HTML</p>
				<p class="project-date">May 2014</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->	

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/pcan-gateway/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/gatewaythumb1.jpg" class="" alt="gatewaythumb" />

				<p class="project-name">PCAN Gateway</p>
				<p class="project-desc">web application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">PCAN Gateway</p>
				<p class="project-desc">PHP, JS, CSS, HTML</p>
				<p class="project-date">June 2013</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding graphics ">
		<a href="#/projects/iamspezial/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-iamspezial.jpg" class="" alt="thumb-iamspezial" />

				<p class="project-name">Merz Spezial</p>
				<p class="project-desc">Campaign Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Merz Spezial</p>
				<p class="project-desc">HTML PHP JS + FirstSpirit CMS</p>
				<p class="project-date">September 2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/fileserver/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-filenice.jpg" class="" alt="thumb-filenice" />

				<p class="project-name">Online File Directory</p>
				<p class="project-desc">Web Application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Online File Directory</p>
				<p class="project-desc">PHP JS HTML</p>
				<p class="project-date">May 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

			<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental ">
		<a href="#/projects/ng2014/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/ng2014.jpg" class="" alt="ng2014" />

				<p class="project-name">ng2014</p>
				<p class="project-desc">Angular JS app</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">ng2014</p>
				<p class="project-desc">Angluar JS</p>
				<p class="project-date">January 2014</p> <i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental ">
		<a href="#/projects/basechat/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/basechat.jpg" class="" alt="basechat" />

				<p class="project-name">Basechat</p>
				<p class="project-desc">real time chat application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Basechat</p>
				<p class="project-desc">Angluarfire, Node js</p>
				<p class="project-date">October 2013</p> <i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental ">
		<a href="#/projects/octopress/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/octoThumb.jpg" class="" alt="octoThumb" />

				<p class="project-name">Octopress Portfolio</p>
				<p class="project-desc">experiment</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Octopress Portfolio</p>
				<p class="project-desc">Octopress  experiment</p>
				<p class="project-date">October 2013</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental ">
		<a href="#/projects/pingzilla/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/pingzilla.png" class="" alt="pingzilla" />

				<p class="project-name">Pingzilla</p>
				<p class="project-desc">web application</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Pingzilla</p>
				<p class="project-desc">PHP + Ajax + Cron</p>
				<p class="project-date">Aug 2013</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding graphics wordpress ">
		<a href="#/projects/stopandgocoffee/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/stopandgo_thumb.jpg" class="" alt="stopandgo_thumb" />

				<p class="project-name">Stop &#038; Go Coffee</p>
				<p class="project-desc">Branding</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Stop &#038; Go Coffee</p>
				<p class="project-desc">HTML JS PHP + digital and print graphics</p>
				<p class="project-date">January 2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/valovis/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/valovis_thumb2.jpg" class="" alt="valovis_thumb2" />

				<p class="project-name">Valovis Bank</p>
				<p class="project-desc">Corporate Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Valovis Bank</p>
				<p class="project-desc">Flash component</p>
				<p class="project-date">October 2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental graphics wordpress ">
		<a href="#/projects/design4lifeblog/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-d4l.jpg" class="" alt="thumb-d4l" />

				<p class="project-name">Design4lifeblog</p>
				<p class="project-desc">Web Development Blog</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Design4lifeblog</p>
				<p class="project-desc">Content driven blog</p>
				<p class="project-date">November 2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/edoc/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-edoc.jpg" class="" alt="thumb-edoc" />

				<p class="project-name">eDoc solutions</p>
				<p class="project-desc">Corporate Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">eDoc solutions</p>
				<p class="project-desc">HTML JS  and PHP template</p>
				<p class="project-date">August 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding flash ">
		<a href="#/projects/portfolio2009/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-port2009.jpg" class="" alt="thumb-port2009" />

				<p class="project-name">Portfolio 2009</p>
				<p class="project-desc">2009 version of my portfolio</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Portfolio 2009</p>
				<p class="project-desc">my old portfolio</p>
				<p class="project-date">September 2009</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding graphics wordpress ">
		<a href="#/projects/calgary/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-calgary.jpg" class="" alt="thumb-calgary" />

				<p class="project-name">Calgary Wedding Pix</p>
				<p class="project-desc">Photography Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Calgary Wedding Pix</p>
				<p class="project-desc">HTML JS PHP + Wordpress</p>
				<p class="project-date">September 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding experimental ">
		<a href="#/projects/portfolio2011/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb.jpg" class="" alt="thumb" />

				<p class="project-name">Portfolio 2011</p>
				<p class="project-desc">2011 version of my portfolio</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Portfolio 2011</p>
				<p class="project-desc">My old Portfolio</p>
				<p class="project-date">2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding wordpress ">
		<a href="#/projects/portfolio2012/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb1.jpg" class="" alt="thumb" />

				<p class="project-name">Portfolio 2012</p>
				<p class="project-desc">2012 version of my portfolio</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Portfolio 2012</p>
				<p class="project-desc">My old Portfolio</p>
				<p class="project-date">September 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding wordpress ">
		<a href="#/projects/portfolio-2013/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/portfolio2013_thumb1.jpg" class="" alt="portfolio2013_thumb" />

				<p class="project-name">Portfolio 2013</p>
				<p class="project-desc">2013 version of my portfolio</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Portfolio 2013</p>
				<p class="project-desc">Current Portfolio</p>
				<p class="project-date">September 2013</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/hyal/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb2.jpg" class="" alt="thumb" />

				<p class="project-name">Hyal System</p>
				<p class="project-desc">Product Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Hyal System</p>
				<p class="project-desc">PHP, HTML, CSS</p>
				<p class="project-date">December 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding flash ">
		<a href="#/projects/virtualrooms/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb3.jpg" class="" alt="thumb" />

				<p class="project-name">Virtual Rooms</p>
				<p class="project-desc">Project Showcase</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Virtual Rooms</p>
				<p class="project-desc">Flash ActionScript 3</p>
				<p class="project-date">May 2009</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item graphics ">
		<a href="#/projects/planet49/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-49.jpg" class="" alt="thumb-49" />

				<p class="project-name">Planet 49</p>
				<p class="project-desc">Photoshop Template</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Planet 49</p>
				<p class="project-desc">Graphics for an ad campaign</p>
				<p class="project-date">January 2010</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item experimental video ">
		<a href="#/projects/video/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-video.jpg" class="" alt="thumb-video" />

				<p class="project-name">Videos</p>
				<p class="project-desc">Video and Mograph</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Videos</p>
				<p class="project-desc">After Effects, Adobe Premier, Cinema4D</p>
				<p class="project-date">2009-2011</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

	<!-- Start Project -->
	<div class="post item span4 isotope-item coding ">
		<a href="#/projects/memantine/" class="project-wrp hover-down" target="_self">

			<div class="content-wrp">
				<img src="pages/images/thumb-mem.jpg" class="" alt="thumb-mem" />

				<p class="project-name">Memantine</p>
				<p class="project-desc">Product Website</p>
			</div>
			<div class="overlay-wrp">
				<div class="overlay"></div>
				<p class="project-name">Memantine</p>
				<p class="project-desc">PHP, HTML, JavaScript</p>
				<p class="project-date">August 2012</p>
				<i class="icon-arrow-right"></i>
			</div>

		</a>
	</div>
	<!-- End Project -->

</div>
</section>