	<section class="pTop120"></section>
	<!-- Start Title -->
	<span id="work"></span>
	<section id="title" class="container">
		<div class="row">
			<div class="span12">
				<h1 style="margin-bottom:0;">Resume</h1>
				<p>My journey thus far</p>
			</div>
		</div>
	</section>
	<!-- End Title -->
<section class="container">
		<div class="main row">

			<div class="row">
				<div class="span3">
					&nbsp;
				</div>

				<div class="span9">
					<h5 class="cv-section-title">Work Experience</h5>
				</div>
			</div>

				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>Present</span></time>
						<div class="cbp_tmicon icon-trophy"></div>
						<div class="cbp_tmlabel">
							<h2>Web & Application Developer</h2>
							<h6>PEAK System Technik GmbH</h6>

							<p>Maintenance and development of existing websites. Engineering of new websites and web applications. Product development, testing and documentation. Hardware API integration. Web and print advertising in several print publications.</p>
							<p><a href="http://www.peak-system.com" target="_blank">www.peak-system.com</a></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2010 - 2011</span> </time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Web Developer</h2>
							<h6>GPM - Gesellschaft für Presentationsmedien mbH</h6>

							<p class="last">Web design and development. Flash animation and component development. Video editing and production.</p>
							<p><a href="http://www.gpm.de" target="_blank">www.gpm.de</a></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2010 - 2010</span></time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Interactive Designer</h2>
							<h6>TMC The Marketing Company GmbH & Co. KG</h6>

							<p class="last">Web design & development, mockups and prototyping. Flash website programming, animation and component development. Video editing and production and post production with After Effects.</p>
							<p><a href="http://www.the-marketing-company.de/" target="_blank">www.the-marketing-company.de</a></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2009 - 2009</span></time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Multimedia and Broadcasting Manager</h2>
							<h6>Tupperware Germany GmbH</h6>

							<p class="last">Flash animation, web design, video production (camera, light and post production), animation for video . DVD production, product photography.</p>
							<p><a href="http://www.tupperware.de/" target="_blank">www.tupperware.de</a></p>
				
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2008 - 2009</span></time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Localisation Technician ( DE > EN )</h2>
							<h6>Codemasters Software Company Limited</h6>

							<p class="last">AAA titles: Lord Of The Rings Online (PC), You're in the Movies (XBOX), Rise of the Argonauts (XBOX, PS3)</p>
							<p><a href="http://www.codemasters.com/uk/" target="_blank">www.codemasters.com</a></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2007 - 2009</span></time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Document Translator ( DE > EN & FR > EN )</h2>
							<h6>BestofMedia Group, Culver City, USA</h6>

							<p class="last">Translated documents for various print and online publications (tom's Hardware, tom's Guide, tom's IT pro) </p>
							<p><a href="http://www.bestofmedia.com/" target="_blank">www.bestofmedia.com</a></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2003 - 2005</span></time>
						<div class="cbp_tmicon icon-briefcase"></div>
						<div class="cbp_tmlabel">
							<h2>Interpreter/Translator ( DE > EN )</h2>
							<h6>World Contact Übersetzungsbüro</h6>

							<p class="last">For various companies as well as police and criminal court</p>
							<p><a href="http://www.world-contact.de/" target="_blank">World Contact Übersetzungsbüro</a></p>
						</div>
					</li>
				</ul>
				<div class="row">
					<div class="span3">
						&nbsp;
					</div>

					<div class="span9" id="uni">
						<h5 class="cv-section-title">University</h5>
					</div>
				</div>
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>2006 - 2007</span></time>
						<div class="cbp_tmicon icon-book"></div>
						<div class="cbp_tmlabel">
							<h2>BCIT - Vancouver, Canada</h2>
							<h6>New Media Design & Web Development</h6>

							<p>British Columbia Institute of Technology: <b>Senior Management Certificate</b></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2002 - 2004</span></time>
						<div class="cbp_tmicon icon-book"></div>
						<div class="cbp_tmlabel">
							<h2>Bauhaus University - Weimar, Germany</h2>
							<h6>Medieninformatik, Computer Science and Media</h6>

							<p>Bauhaus-Universität Weimar: <b>Medieninformatik B.Sc.</b></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>1998 - 1998</span></time>
						<div class="cbp_tmicon icon-book"></div>
						<div class="cbp_tmlabel">
							<h2>VCC - Vancouver Community College</h2>
							<h6>General Studies</h6>
						</div>
					</li>					
				</ul>
				<div class="row">
					<div class="span3">
						&nbsp;
					</div>

					<div class="span9" id="intern">
						<h5 class="cv-section-title">Internships</h5>
					</div>
				</div>
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>2007 - 2008</span></time>
						<div class="cbp_tmicon icon-beaker"></div>
						<div class="cbp_tmlabel">
							<h2>Malaize System Solutions - Kuala Lumpur, Malaysia</h2>
							<h6>Digital Arts Engineer</h6>

							<p>HTML, CSS and Actionscript 2 coding</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>2004 - 2004</span></time>
						<div class="cbp_tmicon icon-beaker"></div>
						<div class="cbp_tmlabel">
							<h2>Sail Vacations Ltd. - Tortola, BVI</h2>
							<h6>Web Development and Customer Service</h6>

							<p>HTML, CSS and Actionscript 2 coding</p>
						</div>
					</li>					
				</ul>
				<div class="row">
					<div class="span3">
						&nbsp;
					</div>

					<div class="span9" id="school">
						<h5 class="cv-section-title">School</h5>
					</div>
				</div>
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>2000 - 2002</span></time>
						<div class="cbp_tmicon icon-group"></div>
						<div class="cbp_tmlabel">
							<h2>Staatl. Schule f. Wirtschaft u. Verwalt. - Jena, Germany</h2>
							<h6>State School for Commerce and Business Administration</h6>

							<p><b>Business Abitur</b> (general qualification for university entrance with a focus on commerce)</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>1990 - 1996</span></time>
						<div class="cbp_tmicon icon-group"></div>
						<div class="cbp_tmlabel">
							<h2>Sir Winston Churchill High School - Vancouver, Canada</h2>
							<p><b>High School Graduation</b></p>
						</div>
					</li>					
				</ul>
				<div class="row">
					<div class="span3">
						&nbsp;
					</div>

					<div class="span9" id="other">
						<h5 class="cv-section-title">Other</h5>
					</div>
				</div>				
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>1996 - 1997</span></time>
						<div class="cbp_tmicon icon-globe"></div>
						<div class="cbp_tmlabel">
							<h2>U.N. Volunteer - Bosnia and Herzegovina</h2>
							<h6>United Nations Volunteers - Humanitarian Projects</h6>
							<p>Several community service & arts projects</p>
						</div>
					</li>				
				</ul>
			</div>
			<!--timeline end -->
	</section>